torch>=2.2
torchvision>=0.17

numpy>=1.26
Pillow>=10.0
opencv-python-headless>=4.9

gradio==5.34.2

reportlab>=4.0
openpyxl>=3.1.2

grad-cam

matplotlib>=3.8

pandas>=2.2

scikit-image>=0.22
scikit-learn>=1.4

tqdm>=4.66